/**
 * Snippet from #css-snippets applied the 12 Feb 2021 at 12:03:58
 * Created by Chromus#4761 (511758610720751626)
 * Snippet ID: 783073417301721101
 */
.newMessagesBar-265mhP {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  margin-top: 5px;
}
/** 783073417301721101 */

/**
 * Snippet from #css-snippets applied the 12 Feb 2021 at 12:06:04
 * Created by Möth#0487 (289556910426816513)
 * Snippet ID: 769595669156593695
 */
/* Pin discord icon to top */
div .tutorialContainer-1v44GL {
  position: sticky;
  top: -12px;
  padding-top: 12px;
  padding-bottom: 6px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 100;
  background-color: var(--background-tertiary)
}
/** 769595669156593695 */

/**
 * Snippet from #css-snippets applied the 12 Feb 2021 at 12:13:42
 * Created by Freeplay#5676 (158296466119458816)
 * Snippet ID: 762650583894589441
 */
/* Align topbar buttons to the left */
.titleBar-AC4pGV.directionRowReverse-m8IjIq {
  flex-direction: row;
}
.winButtonMinMax-PBQ2gm, .winButtonClose-1HsbF- {
  margin: 0;
  width: 22px;
}
.winButtonClose-1HsbF- {
  order: 1;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"] {
  order: 2;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
  order: 3;
}
.wordmarkWindows-1v0lYD {
  position: relative;
  padding-top: 0;
  padding-left: 4px;
  order: 4;
}
/** 762650583894589441 */

/**
 * Snippet from #css-snippets applied the 12 Feb 2021 at 12:51:05
 * Created by Marmota#2533 (289112759948410881)
 * Snippet ID: 809681377645166602
 */
.buttons-3JBrkn {
  opacity: 0;
  transition: opacity 0.1s;
}

.channelTextArea-rNsIhG:hover .buttons-3JBrkn {
  opacity: 1.0;
}
/** 809681377645166602 */
